<% content_for :head do %>
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<% end %>

<h2>최근 검색 기록</h2>
<table id="last-routes">
  <thead>
    <tr>
      <th><label for="departure">출발</label></th>
      <th><label for="destination">도착</label></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% 5.times do |i| %>
      <tr>
        <td colspan=3>
          <form class="last-route" action="/routes" method="get">
            <input name="departure-name" disabled>
            <input name="departure" class="hide" readonly>
            <input name="destination-name" disabled>
            <input name="destination" class="hide" readonly>
            <button type="submit">검색</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
