<h1>Routes#show_routes</h1>
<p>Find me in app/views/routes/show_routes.html.erb</p>
<% @routes.each do |route| %> 
<p><%= route.from %> = <%= route.to %> <br>
time : <%= route.moving %>
</p> <% end %>

