// Place all the styles related to the buses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lines-list {
  z-index: 2;
  position: fixed;
  top: 50px;
  left: 0;
}
#lines-list > div{
  border: 1px solid black;
  background-color: gray;
  color: white;
}

#map {
  position: relative;
  width: 1200px;
  height: 540px;
}
#map button.stops {
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  background-image: url('busstop.png');
  background-size: 30px 30px;
  color: white;
  font-size: 10px;
  cursor: pointer;
}
#map button.spots {
  background: pink;
  border: 2px solid orange;
  border-radius: 15px;
}
#map #stations-wrapper {
  z-index: 2;
  position: fixed;
  bottom: 50px;
  left: 0px;
}
#map button.stations {
  display: block;
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid green;
  background-color: lightgreen;
  color: green;
  font-size: smaller;
  cursor: pointer;
}

#buses {
}
.buses {
  position: absolute;
  width: 54px;
  height: 27px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  color: red;
  text-align: center;
  line-height: 23px;
}
.bus-right {
  background-image: url('bus-right.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.bus-left {
  background-image: url('bus-left.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#stop-controller {
  position: absolute;
  width: 270px;
  height: 80px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: gray;
  overflow: hidden;
}
#stop-controller .for-spot, #stop-controller .for-station {
  display: none;
}
#stop-controller #selected-stop {
  height: 20px;
  padding: 3px 5px;
  text-align: center;
}
#stop-controller .for-stop button {
  float: left;
  max-width: 100px;
  width: calc(100% / 3);
  height: 60px;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  background-color: black;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
#stop-controller .for-spot button, #stop-controller .for-station button {
  float: left;
  max-width: 100px;
  width: calc(100% / 2);
  height: 60px;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  background-color: black;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
.station#stop-controller {
  position: fixed;
  left: 10px;
}
.station#stop-controller .for-station {
  display: block;
}
.station#stop-controller .for-stop {
  display: none;
}
.spot#stop-controller label.for-spot {
  display: inline;
}
.spot#stop-controller .for-spot {
  display: block;
}
.spot#stop-controller .for-stop {
  display: none;
}

footer {
  z-index: 2;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  padding: 5px 25px 20px 0px;
  text-align: right;
  background-color: gray;
}
#show-last-routes {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#show-last-routes button {
  height: 25px;
  border: 1px solid black;
  background: gray;
  color: white;
  cursor: pointer;
}
#show-routes {
  position: absolute;
  right: 90px;
  bottom: 20px;
  max-width: 500px;
  margin-right: 10px;
}
#show-routes input {
  width: calc((100% - 150px) / 2);
}
#show-routes button {
  height: 25px;
  border: 1px solid black;
  background: gray;
  color: white;
  cursor: pointer;
}
