// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #D0D0D0;
  color: black;
}

h3 {
  margin: 0;
}
.result > p {
  margin: 0.5em 0;
}
.sub-result {
  padding: 5px;
}
h4 {
  margin: 0.2em 0;
  margin-left: 0.5em;
  padding: 2px;
}
.line-name {
  font-size: 20px;
  vertical-align: 3px;
}
.sub-result > p {
  margin: 0.1em;
}
.joint {
  width: 150px;
  height: 15px;
  background-image: url(arrow.png);
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}

#last-routes {
  width: 100%;
}
#last-routes th:nth-child(3) {
  width: 20%;
}
#last-routes input {
  width: 35%;
}
#last-routes button {
  width: 20%;
}
